<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class="col">
            <div class="border-bottom pb-3 mb-3">
            </div>
            <a routerLink="" class="d-flex justify-content-center">
                <img class="gap-3" src="/assets/images/Digital Logo Redondo1.png" alt="home" height="60px">
            </a>
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <!-- <li class="nav-item"><a routerLink="../proyectofinal/almacenamiento.php" class="nav-link px-2 text-muted">Productos</a></li> -->
                <!-- <li class="nav-item"><a routerLink="/ventamayoristasignup" class="nav-link px-2 text-muted" >Venta Mayorista</a></li> -->
                <li class="nav-item"><a routerLink="/aboutus" class="nav-link px-2 text-muted">Quienes Somos</a></li>
                <li class="nav-item"><a routerLink="/contact" class="nav-link px-2 text-muted">Contacto</a></li>
            </ul>
            <p class="float-end"><a routerLink="#">Volver arriba</a></p>
            <p>&copy; 2022–2023 Digital Sound &middot; <a>Privacidad</a> &middot; <a>Términos</a></p>
            <!-- <script src="../proyectofinal/assets/js/bootstrap.bundle.min.js"></script> -->
        </div>
    </div>
</footer>
